<div class="">
    
    <div class="seccion-imagenes">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active contenedor-imagen">
				<img src="../../assets/rifa-dinero.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item contenedor-imagen">
				<img src="../../assets/rifa-dinero.jpg" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item contenedor-imagen">
				<img src="../../assets/rifa-dinero.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
    </div>

    <div class="seccion">
		<div class="titulo">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
				<path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
			</svg>
			<h3>Rifa 6 mil pesos</h3>
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
				<path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
			</svg>
		</div>

		<p>‼️RIFA‼️LA BILLETIZA ‼️RIFA‼️

			SORTEO#53
			🍀SORTEO MAYOR🍀👇🏻👇🏻
			🥇 $ 250,000 pesos en efectivo..💴
			⚠️SORTEO MAYOR:   #MARTES_07_MARZO_2023
			
			​
			
			⛔AVISO IMPORTANTE⛔
			PRONTO PAGO 🔜 
			👀 Si entras y pagas tu boleto dentro de las 6/horas de reservación y antes del día: #MIERCOLES_01_MARZO_2023 y sales GANADOR DE LA BILLETIZA💴 te llevas de regalo TODO ESTO X PRONTO PAGO:👇🏻
			⚠️ iPHONE 14 PRO-MAX 128gb.📲 ➕
			⚠️$10,000 Pesos en efectivo 💴 
			
			​
			
			🔥BONO DE PRESENTACIÓN 🔥
			El bono de presentación solo dura vigente la primer semana que empieza el sorteo: del 21 al 26 febrero. TE LLEVAS AL SER GANADOR DE LA BILLETIZA 💴👇🏻
			⚠️🏅AirPods ULTIMA GENERACIÓN
			
			​
			
			⚠️COSTO: 
			1️⃣ Boleto❌$10 pesos c/u.
			
			​
			
			en base a la Lotería Nacional. 🇮🇪
			En base a las 5 ultimas cifras del sorteo Mayor de mencionados días.
			(En dado caso que la loteria suspenda sus sorteo se tomarán otras medidas para llevarse a cabo el Sorteo.) 
			
			
			Quedo a la orden para cualquier duda..
			⚠️puedes participar dentro y fuera de la república mexicana 🇲🇽 🇺🇸
			A la orden...☘️
			
			
			♦️UBICADOS: Huatabampo, Sonora.
			✅Responsable: Su compa Jaciel Mendoza.✌🏻</p>
			<p>‼️RIFA‼️LA BILLETIZA ‼️RIFA‼️

				SORTEO#53
				🍀SORTEO MAYOR🍀👇🏻👇🏻
				🥇 $ 250,000 pesos en efectivo..💴
				⚠️SORTEO MAYOR:   #MARTES_07_MARZO_2023
				
				​
				
				⛔AVISO IMPORTANTE⛔
				PRONTO PAGO 🔜 
				👀 Si entras y pagas tu boleto dentro de las 6/horas de reservación y antes del día: #MIERCOLES_01_MARZO_2023 y sales GANADOR DE LA BILLETIZA💴 te llevas de regalo TODO ESTO X PRONTO PAGO:👇🏻
				⚠️ iPHONE 14 PRO-MAX 128gb.📲 ➕
				⚠️$10,000 Pesos en efectivo 💴 
				
				​
				
				🔥BONO DE PRESENTACIÓN 🔥
				El bono de presentación solo dura vigente la primer semana que empieza el sorteo: del 21 al 26 febrero. TE LLEVAS AL SER GANADOR DE LA BILLETIZA 💴👇🏻
				⚠️🏅AirPods ULTIMA GENERACIÓN
				
				​
				
				⚠️COSTO: 
				1️⃣ Boleto❌$10 pesos c/u.
				
				​
				
				en base a la Lotería Nacional. 🇮🇪
				En base a las 5 ultimas cifras del sorteo Mayor de mencionados días.
				(En dado caso que la loteria suspenda sus sorteo se tomarán otras medidas para llevarse a cabo el Sorteo.) 
				
				
				Quedo a la orden para cualquier duda..
				⚠️puedes participar dentro y fuera de la república mexicana 🇲🇽 🇺🇸
				A la orden...☘️
				
				
				♦️UBICADOS: Huatabampo, Sonora.
				✅Responsable: Su compa Jaciel Mendoza.✌🏻</p>

		<div class="prueba">
			<h2>aslkfjasklfj</h2>
		</div>
		
		
    </div>

 
</div>
